.page{
min-height: 150vh;
background:  url(./assets/bgpage.jpg) center center no-repeat ;
background-size: cover;
}
.loginpage{
  display: flex;
align-items: center;
justify-content: center;
}

.loginpage .container .card {
  background:#A0D7E2;
  padding:40px  ;
  position:relative;
  left:50%;
  transform: translateX(-50%);
  border: 1px solid #0D6F73;
 box-shadow: 15px 15px 25px 0px #00000040;
} 
.loginpage .container form div:first-child,
.loginpage .container form div:nth-child(2)
{
 display: flex;
 justify-content: space-between;

align-items: center;}
.loginpage .container form div:first-child{
  margin-bottom: 35px;
}
.textfield label{
   color:  #0D6F73;
    font-size: 19px;
    transform-origin: right !important;
     right: 20px;
      left: unset; 
}

.link{
text-decoration: none;
color: #777777;
font-size: 16px;
}
.loginpage img{
  max-width: 500px;
}
/* Home */
.Homepage .button {
  background-color: #ef7261 !important;
  color: black !important;
}
.Homepage .container {
  width: 400px !important;
  position: absolute;
  height: 50%;
  right: 105px;
  padding: 140px 0 0;
}
/* Home */